.content-wrapper{
    margin-bottom : 50px;
}

.main-content-area {
    text-align: left;
}
.card-header-text{
    text-align:left;
}
.card-action-control{
    text-align:center;
}

.footer {
    left: 0 !important;
    white-space: nowrap !important;
    line-height: 60px !important;
    background-color: #E6E6E6 !important;
}
