<div class="alert alert-danger" style="width: 46%;margin-top: 4%;margin-left: 25%;text-align: center;">
    <h3> Internal error occurred. Sorry for your inconvenience. Please try again.</h3>
    <a href="@Url.Action("HomePage","Home")" class="btn btn-danger">Go Back To Home Page</a>
</div>